@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-bordered table-hover">
    @if (Model.Customers.Count == 0)
    {
        <tr>
            <td>We don't have any customers yet.</td>
        </tr>
    }
    else
    {
        <thead>
            <tr>
                <td>Customer</td>
            </tr>
        </thead>
        foreach (var customer in Model.Customers)
         {
             <tr>

                 <td>@Html.ActionLink(customer.Name, "Details", "Customers"
                         , new {id = customer.Id}, null)</td>
             </tr>
         }
    }
</table>

